<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Blackbox Designer</title>
    <link rel="stylesheet" type="text/css" href="<%= grunt.config.get('pkg.name') %>.css"/>
  </head>

  <body>
    <div ng-controller="AppCtrl">
      <div ng-include="'navigation/header/header.tpl.html'"></div>
      <div class="view-animate-container">
        <div ng-view class="view-animate container"/>
      </div>
    </div>

    <div ng-include="'navigation/menu/menu.tpl.html'"></div>

    <script type="text/javascript" src="ext/jquery.js"></script>
    <script type="text/javascript" src="ext/jquery.mmenu.min.all.js"></script>

    <!-- Draw2d -->
    <script type="text/javascript" src="ext/shifty.js"></script>
    <script type="text/javascript" src="ext/raphael.js"></script>
    <script type="text/javascript" src="ext/jquery.autoresize.js"></script>
    <script type="text/javascript" src="ext/jquery-touch_punch.js"></script>
    <script type="text/javascript" src="ext/jquery.contextmenu.js"></script>
    <script type="text/javascript" src="ext/rgbcolor.js"></script>
    <script type="text/javascript" src="ext/canvg.js"></script>
    <script type="text/javascript" src="ext/Class.js"></script>
    <script type="text/javascript" src="ext/json2.js"></script>
    <script type="text/javascript" src="ext/pathfinding-browser.min.js"></script>
    <script type="text/javascript" src="ext/draw2d.js"></script>

    <!-- Angular -->
    <script type="text/javascript" src="ext/angular.js"></script>
    <script type="text/javascript" src="ext/angular-animate.js"></script>
    <script type="text/javascript" src="ext/angular-resource.js"></script>
    <script type="text/javascript" src="ext/angular-route.js"></script>
    <script type="text/javascript" src="ext/angular-mocks.js"></script>

    <script type="text/javascript" src="ext/bootstrap.js"></script>
    <script type="text/javascript" src="ext/log4js.js"></script>

    <script type="text/javascript" src="<%= grunt.config.get('pkg.name') %>.js"></script>

  </body>
</html>
