<div ng-controller="MenuGenericCtrl as ctrl">
    <nav ng-mouseleave="ctrl.close()">
        <ul bn-delegate="li">
            <li ng-mouseover="ctrl.open()" ng-repeat="link in ctrl.model.links">
                <a href="#{{link.url}}"><span class="menu-icon {{link.className}}"></span>  {{link.name}}</a>
                <ul bn-delegate="li">
                    <li ng-mouseover="ctrl.open()" ng-repeat="sublink in link.sub"><a href="#{{sublink.url}}">{{sublink.name}}</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>